# roles/containerd/templates/config.toml.j2
# Managed by Ansible template
version = 2

[plugins."io.containerd.grpc.v1.cri"]
  sandbox_image = "{{ containerd_sandbox_image }}"

  [plugins."io.containerd.grpc.v1.cri".containerd]
    default_runtime_name = "{{ containerd_default_runtime_name }}"

    [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.{{ containerd_default_runtime_name }}]
      runtime_type = "{{ containerd_runtime_type }}"
      [plugins."io.containerd.grpc.v1.cri".containerd.runtimes.{{ containerd_default_runtime_name }}.options]
        SystemdCgroup = true
